body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

section{
    display: flex;
}

.half{
    width: 50%;
    padding-left: 10%;
}

.half img{
    width: 60%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5%;
    color:white;
    font-weight: 300;
    
}