body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.flexible{
    display: flex;
    margin-bottom: 150px;
}

.half{
    width: 50%;
    padding-left: 10%;
}

.half img{
    width: 70%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 10px 10px;
    border-radius: 5%;
    color:white;
    font-weight: 300;
    
}

.top{
    background-image: url(images/thomas-lefebvre-_0eMNseqmYk-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: right;
}